<!DOCTYPE html>
<html>
<head>
  <title>BrettDemetris.com</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'application', 'https://fonts.googleapis.com/css?family=Oswald' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= favicon_link_tag 'favicon.ico' %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div id="sidebar">
		<div id="logo">
			<%= link_to root_path do %>
				<%= image_tag "logo.svg" %>
			<% end %>
		</div>

		<ul>
			<li class="category">Website</li>
			<li><%= link_to "Blog", root_path %></li>
			<li><%= link_to "About", about_path %></li>
		</ul>

		<ul>
			<li class="category">Social</li>
			<li><a href="https://github.com/bdemetris">Github</a></li>
			<li><a href="https://www.linkedin.com/in/bdemetris">Linkedin</a></li>
		</ul>

		<ul>
		<div id ="tags">
			<li class="category">Tags</li>
			<li><%= render :partial => 'acts_as_taggable_on/tags/popular', :object => most_used_tags %></li>
		</div>
		</ul>

		<div id="search">
			<%= form_tag(posts_path, :method => "get", id: "search-form") do %>
			<%= text_field_tag :search, params[:search], placeholder: "Search Posts" %>
			<div id="search_button">
				<%= submit_tag("Search", class: 'button') %>
			</div>		
			<% end %>
		</div>
	</div>

	<div id="main_content">
		<div id="header">
		<% if current_page?(root_path) %>
			<p>All Posts</p>
		<% elsif current_page?(about_path) %>
			<p>About</p>
		<% elsif current_page?(admin_path) %>
			<p>Admin</p>
		<% else %>
			<%= link_to "Back to All Posts", root_path %>
		<% end %>

		<% if user_signed_in? and current_user.admin? %>
			<div class="buttons">
				<button class="button"><%= link_to "New Post", new_post_path %></button>
				<button class="button"><%= link_to "Admin", admin_path %></button>
				<button class="button"><%= link_to('Log Out', destroy_user_session_path, :method => :delete) %></button>
			</div>
		<% elsif user_signed_in? %>
			<div class="buttons">
				<button class="button"><%= link_to "New Post", new_post_path %></button>
				<button class="button"><%= link_to('Log Out', destroy_user_session_path, :method => :delete) %></button>
			</div>
		<% else %>
			<div class="buttons">
				<button class="button"><%= link_to('Login', new_user_session_path)  %></button>
			</div>
		<% end %>

		</div>

		<% flash.each do |name, msg| %>
			<%= content_tag(:div, msg, class: "alert") %>
		<% end %>

		<%= yield %>
	</div>
</body>
</html>